@model SportShop.WebUI.ViewModel.ShoppingCartViewModel


<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/js/cart.js"></script>
<link href="~/Content/css/remove-neon-btn.css" rel="stylesheet" />

<div style="height:50px;"></div>

<section>

    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Goods</th>
                            <th></th>
                            <th>Price</th>
                            <th>Total price</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr id="row-@item.RecordId">
                                <td id="item-count-@item.RecordId" style="padding:30px;">@item.Count</td>
                                <td style="padding:30px;">@item.Item.ItemName
                                <td>
                                <td style="padding:30px;">@item.Item.Price.ToString("# $")</td>
                                <td style="padding:30px;">@((item.Item.Price * @item.Count).ToString("# $"))</td>
                                <td>
                                    <div class="">
                                        <a href="#" class=" btn remove-neon-btn RemoveLink"
                                           data-id="@item.RecordId">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            Remove
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                Total
                            </td>
                            <td></td>
                            <td></td>
                            <td id="cart-total">
                                @Model.CartTotal.ToString("# $")
                            </td>
                        </tr>
                    </tfoot>

                </table>
                <div style="top:200px;">
                    <a class="btn btn-primary" href="@Model.returnUrl">Continue shopping</a>
                    @Html.ActionLink("Checkout", "Index","Checkout", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>


</section>
@section typing_footer
{
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">

                    <div class="intro">
                        <h1 class="mb-5">Here you can</h1>
                        <h1 class="typing mb-5">hi</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    var btn = document.getElementsByClassName("remove-neon-btn");
    function myFunction(x) {
        
    if (x.matches) { // If media query matches
        
    } else {
        btn.classList.remove("remove-neon-btn");
        btn.className.replace(/\btn btn-primary\b/g, "");
    }
}

var x = window.matchMedia("(max-width: 700px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction)
</script>